# Arquivos e pastas do sistema
.DS_Store
Thumbs.db

# Logs
*.log
*.bak

# Arquivos compactados
*.zip
*.rar

# Ambiente e credenciais
.env
*.env
auth/cache_data.h5
chave-credencial.json
credenciais.json
chave_workspace.json

# Dependências de projeto
node_modules/
vendor/
venv/
__pycache__/

# IDEs e editores
.vscode/
.idea/

# Diretórios de build ou cache
storage/
public/assets/js/*.min.js
public/assets/css/*.min.css

# Pastas auxiliares
EnterpriseSystem/
Ambiente-Colormaq-clean/
DSA/
nssm/

# Scripts de testes ou arquivos temporários
test_*
teste_*
phpinfo.php
